@model IEnumerable<FigureViewModel>
@{
	ViewBag.Title = "My Figures";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (Model.Any())
{
	<table class="table table-responsive darkbgwhitetext">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Number of options</th>
				<th scope="col">Highlight</th>
				<th scope="col">Favourite</th>
				<th scope="col">Edit</th>
				<th scope="col">View options</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var a in Model)
			{
				<tr>
					<th scope="row">@a.Id</th>
					<td>@a.Name</td>
					<td>@a.FigureOptionsCount</td>
					<td>
						@if (a.IsHighlight)
						{
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" viewBox="0 0 24 24">
								<path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
							</svg>

						}
						else
						{
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke-miterlimit="2" fill="red" viewBox="0 0 24 24">
								<path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z" />
							</svg>
						}
					</td>
					<td>
						@if (a.IsFavourite)
						{
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" viewBox="0 0 24 24">
								<path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
							</svg>
						}
						else
						{
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke-miterlimit="2" fill="red" viewBox="0 0 24 24">
								<path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z" />
							</svg>
						}
					</td>
					<td><a asp-controller="Figure" asp-action="Edit" asp-route-id="@a.Id" class="link-warning">Edit</a></td>
					<td><a asp-controller="Figure" asp-action="Options" asp-route-id="@a.Id" class="link-info">Options</a></td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p class="text-danger">No figures yet!</p>
}
<br />
<a asp-controller="Figure" asp-action="Add" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Add</a>

