@model AllFiguresQueryModel
@{
	ViewBag.Title = "My Figures";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
	<div class="row justify-content-center">
		<div class="col-md-2">
			<label asp-for="SearchTerm"></label>
			<input asp-for="SearchTerm" class="form-control" placeholder="Search by figure name...">
		</div>
		<div class="form-group col-md-2 d-flex justify-content-between">
			<div class="form-group">
				<label asp-for="StartPosition"></label>
				<select asp-for="StartPosition" class="form-control">
					<option value="">All</option>
					@foreach (var position in Model.Positions)
					{
						<option value="@position.Id">@position.Name</option>
					}
				</select>
			</div>
		</div>
		<div class="form-group col-md-2 d-flex justify-content-between">
			<div class="form-group">
				<label asp-for="EndPosition"></label>
				<select asp-for="EndPosition" class="form-control">
					<option value="">All</option>
					@foreach (var position in Model.Positions)
					{
						<option value="@position.Id">@position.Name</option>
					}
				</select>
			</div>
		</div>
		<div class="form-group col-md-2 d-flex justify-content-between">
			<div class="form-group">
				<label asp-for="BeatsCount"></label>
				<input asp-for="BeatsCount" type="number" class="form-control" placeholder="Enter number of beats...">
			</div>
		</div>
		<div class="form-group col-md-2 d-flex justify-content-between">
			<div class="form-group">
				<label asp-for="DynamicsType"></label>
				<select asp-for="DynamicsType" class="form-control">
					<option value="">All</option>
					@foreach (var type in Model.DynamicsTypes)
					{
						<option value="@type">@type.ToString()</option>
					}
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<br />
			<input type="submit" value="Search" class="btn btn-success" />
		</div>
	</div>
</form>
<br />

@if (!Model.Entities.Any())
{
	<div class="customNoResultsFoundMessage">
		<h3 class="text-center text-danger">No figures found by this search term!</h3>
	</div>
}
else
{
	<div class="table-responsive">
		<table class="table darkbgwhitetext">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Number of options</th>
					<th scope="col">Highlight</th>
					<th scope="col">Favourite</th>
					<th scope="col">Shared</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var figure in Model.Entities)
				{
					<tr>
						<partial name="_FigureTablePartial" model="@figure" />
						<td>
							@if (figure.CanBeShared)
							{
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" viewBox="0 0 24 24">
									<path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
								</svg>
							}
							else
							{
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke-miterlimit="2" fill="red" viewBox="0 0 24 24">
									<path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z" />
								</svg>
							}
						</td>

						<td>
							<form method="get">
								<input type="submit" asp-action="Options" asp-route-id="@figure.Id" value="Options" class="link-success custominputlink" />
							</form>
						</td>
						<td>
							<form method="get">
								<input type="submit" asp-action="Edit" asp-route-id="@figure.Id" value="Edit" class="link-warning custominputlink" />
							</form>
						</td>
						<td>
							<form method="get">
								<input type="submit" asp-action="Copy" asp-route-id="@figure.Id" value="Copy" class="link-info custominputlink" />
							</form>
						</td>
						<td>
							@if (!figure.FigureUsedInChoreographies)
							{
								<form method="get">
									<input type="submit" asp-action="Delete" asp-route-id="@figure.Id" value="Delete" class="link-danger custominputlink" />
								</form>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalItemCount /
		Model.ItemsPerPage);

	<div class="row mb-5">
		<div class="col-md-4 justify-content-md-start">
			<a class="btn btn-success @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-action="Mine"
		   asp-route-currentPage="@previousPage"
		   asp-route-searchTerm="@Model.SearchTerm"
		   asp-route-startPosition="@Model.StartPosition"
		   asp-route-endPosition="@Model.EndPosition"
		   asp-route-dynamicsType="@Model.DynamicsType"
		   asp-route-beatsCount="@Model.BeatsCount">Previous page</a>
		</div>

		<div class="col-md-4 text-center">
			<p>Page @Model.CurrentPage of @maxPage</p>
		</div>

		@{
			var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
			!Model.Entities.Any();
		}

		<div class="col-md-4">
			<a class="btn btn-success float-end
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-action="Mine"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-searchTerm="@Model.SearchTerm"
		   asp-route-startPosition="@Model.StartPosition"
		   asp-route-endPosition="@Model.EndPosition"
		   asp-route-dynamicsType="@Model.DynamicsType"
		   asp-route-beatsCount="@Model.BeatsCount">Next page</a>
		</div>
	</div>
}

<a asp-action="Add" id="add-action" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Add</a>

<a asp-action="Shared" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Copy from another user</a>