@model AllVerseTypesQueryModel
@{
	ViewBag.Title = "All Verse Types";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
	<div class="row justify-content-center">
		<div class="col-md-3">
			<input asp-for="SearchTerm" class="form-control" placeholder="Search by name...">
		</div>
		<div class="col-md-3">
			<input asp-for="SearchBeats" type="number" class="form-control" placeholder="Search by beats count...">
		</div>
		<div class="col-md-3">
			<input type="submit" value="Search" class="btn btn-success" />
		</div>
	</div>
</form>
<br />

@if (!Model.Entities.Any())
{
	<h2 class="text-center text-danger">No verse types found by these search criteria!</h2>
}
else
{
	<table class="table table-responsive darkbgwhitetext">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Beats Count</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var verseType in Model.Entities)
			{
				<partial name="_VerseTypeTablePartial" model="@verseType" />
			}
		</tbody>
	</table>

	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalItemCount /
		Model.ItemsPerPage);

	<div class="row mb-5">
		<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
			<a class="btn btn-success @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="VerseType"
		   asp-action="All"
		   asp-route-currentPage="@previousPage"
		   asp-route-searchTerm="@Model.SearchTerm"
		   asp-route-searchBeats="@Model.SearchBeats">Previous page</a>
		</div>

		@{
			var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
			!Model.Entities.Any();
		}

		<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
			<a class="btn btn-success
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="VerseType"
		   asp-action="All"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-searchTerm="@Model.SearchTerm"
		   asp-route-searchBeats="@Model.SearchBeats">Next page</a>
		</div>
	</div>
}

<a asp-controller="VerseType" asp-action="Add" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Add</a>

