@model IEnumerable<VerseTypeTableViewModel>
@{
	ViewBag.Title = "All Verse Types";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (Model.Any())
{
	<table class="table table-responsive">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Beats Count</th>
				<th scope="col">Edit</th>
				<th scope="col">Change Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var a in Model)
			{
				<tr>
					<th scope="row">@a.Id</th>
					<td>@a.Name</td>
					<td>@a.BeatCounts</td>
					<td><a asp-controller="VerseType" asp-action="Edit" asp-route-id="@a.Id" class="link-warning">Edit</a></td>
					@if (a.IsActive)
					{
						<td><a asp-controller="VerseType" asp-action="Deactivate" asp-route-id="@a.Id" class="link-danger">Deactivate</a></td>
					}
					else
					{
						<td><a asp-controller="VerseType" asp-action="Activate" asp-route-id="@a.Id" class="link-success">Activate</a></td>
					}
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p class="text-danger">No verse types yet!</p>
}
<br />
<a asp-controller="VerseType" asp-action="Add" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Add</a>
