@model VerseChoreographyDetailsViewModel
@{
    ViewBag.Title = Model.Name;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row mb-2">
    <div class="form-group col-md-6 d-flex">
        <label asp-for="VerseTypeName" class="fw-bold me-2"></label>
        <p>@Model.VerseTypeName</p>
    </div>
    <div class="form-group col-md-6 d-flex">
        <label asp-for="NumberOfFigures" class="fw-bold me-2"></label>
        <p>@Model.NumberOfFigures</p>
    </div>
</div>

<div class="row mb-2">
    <div class="form-group col-md-6 d-flex">
        <label asp-for="StartPositionName" class="fw-bold me-2"></label>
        <p>@Model.StartPositionName</p>
    </div>
    <div class="form-group col-md-6 d-flex">
        <label asp-for="EndPositionName" class="fw-bold me-2"></label>
        <p>@Model.EndPositionName</p>
    </div>
</div>

<div class="row mb-2">
    <div class="form-group col-md-6 d-flex">
        <label asp-for="FinalFigureName" class="fw-bold me-2"></label>
        <p>@Model.FinalFigureName</p>
    </div>
</div>

<hr />

<div class="table-responsive">
    <table class="table darkbgwhitetext">
        <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Name</th>
                <th scope="col">Highlight</th>
                <th scope="col">Favourite</th>
                <th scope="col">Start position</th>
                <th scope="col">End position</th>
                <th scope="col">Beats count</th>
                <th scope="col">Dynamics type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Figures.Count(); i++)
            {
                <tr>
                    <partial name="_VerseChoreographyFigureTablePartial" model="@Model.Figures[i]" />
                    <td>
                        <form method="get">
                            <input type="submit" asp-action="ReplaceFigure" asp-route-id="@Model.Figures[i].Id" value="Replace" class="link-warning custominputlink" />
                        </form>
                    </td>
                    <td>
                        @if ((i == Model.Figures.Count() - 1) && Model.HasEnoughFigures == false)
                        {
                            <form method="get">
                                <input type="submit" asp-action="DeleteFigure" asp-route-id="@Model.Figures[i].Id" value="Delete" class="link-danger custominputlink" />
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (!Model.HasEnoughFigures)
{
    <a asp-action="AddFigure" asp-route-id="@Model.Id" class="btn btn-warning mb-4 w-100 p-3 fw-bold">Add Figure</a>
}

@if (!Model.UsedInFullChoreographies)
{
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Delete</a>
}