@model VerseChoreographyFigureOptionFormViewModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.FigureOrder" />
            <div class="mb-3 form-group">
                <label asp-for="FigureOrder" class="fw-bold me-2"></label>
                <p>@Model.FigureOrder</p>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="StartPositionName" class="fw-bold me-2"></label>
                @if (Model.StartPositionName == null)
                {
                    <p>All positions</p>
                }
                else
                {
                    <p>@Model.StartPositionName</p>
                }
            </div>
            <div class="mb-3 form-group">
                <label asp-for="RemainingBeats" class="fw-bold me-2"></label>
                <p>@Model.RemainingBeats</p>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FigureOptionId" class="fw-bold me-2"></label>
                <select asp-for="@Model.FigureOptionId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Figure...</option>
                    @foreach (var figureOption in Model.Figures)
                    {
                        <option value="@figureOption.Id">@figureOption.FigureName (beats count: @figureOption.BeatCounts; start position: @figureOption.StartPositionName; end position: @figureOption.EndPositionName)</option>
                    }
                </select>
                <span asp-validation-for="@Model.FigureOptionId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input id="save-action" class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
