@model VerseChoreographySaveViewModel

<form method="post">
	<div class="row mb-2">
		<input type="hidden" asp-for="@Model.VerseTypeId" />
		<input type="hidden" asp-for="@Model.Score" />
		<div class="form-group col-md-6 d-flex">
			<label asp-for="Score" class="fw-bold me-2"></label>
			<p>@Model.Score</p>
		</div>
		<div class="form-group col-md-6 d-flex">
			<label class="fw-bold me-2">Total number of figures: </label>
			<p>@Model.Figures.Count</p>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table darkbgwhitetext">
			<thead>
				<tr>
					<th scope="col">Order</th>
					<th scope="col">Name</th>
					<th scope="col">Highlight</th>
					<th scope="col">Favourite</th>
					<th scope="col">Start position</th>
					<th scope="col">End position</th>
					<th scope="col">Beats count</th>
					<th scope="col">Dynamics type</th>
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < Model.Figures.Count; i++)
				{
					<tr>
						<input type="hidden" asp-for="@Model.Figures[i].FigureOptionId" />
						<input type="hidden" asp-for="@Model.Figures[i].FigureOrder" />
						<partial name="_VerseChoreographyFigureTablePartial" model="@Model.Figures[i]" />
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-2">
			<label asp-for="@Model.Name" class="form-label-add-edit"></label>
			<input asp-for="@Model.Name" class="form-control" aria-required="true" />
			<span asp-validation-for="@Model.Name" class="text-danger"></span>
		</div>
		<div class="col-md-2">
			<br />
			<input type="submit" asp-controller="VerseChoreography" asp-action="Save" value="Save" class="btn btn-warning w-100 fw-bold" />
		</div>
	</div>
</form>